<div class="site__pagination">
  {% if page.number > 1 %}
  <a href="{{ site.baseurl }}/stories/{{ page.story }}/{{ page.number | minus: 1 }}/" class="post__btn post__btn--nav previous">previous chapter</a>
  {% else %}
  <span class="post__btn post__btn--nav post__btn--no-link previous">previous chapter</span>
  {% endif %}
  <span class="site__page-number">{{ page.number }} / {{ chaps | size }}</span>
  {% if page.number < chaps.size %}
  <a href="{{ site.baseurl }}/stories/{{ page.story }}/{{ page.number | plus: 1 }}/" class="post__btn post__btn--nav next">next chapter</a>
  {% else %}
  <span class="post__btn post__btn--nav post__btn--no-link next">next chapter</span>
  {% endif %}
  <a class="post__btn post__btn--nav"
    href="{{ site.baseurl }}/stories/{{ story.url }}/#ch{{ page.number }}">
    Chapter list
  </a>
</div>
