<menu class="follow__menu">
  <a href="#" class="follow__item">
    <i class="icon-cc-by"></i>
    <span class="follow__label">Patreon</span>
  </a>
  <a href="#" class="follow__item">
    <i class="icon-cc-by"></i>
    <span class="follow__label">Wattpad</span>
  </a>
  <a href="#" class="follow__item">
    <i class="icon-cc-by"></i>
    <span class="follow__label">Webtoon</span>
  </a>
  <a href="#" class="follow__item">
    <i class="icon-cc-by"></i>
    <span class="follow__label">Atom feed</span>
  </a>
</menu>
