.site {
  background: #bbc;
  color: #223;
  font: 100% Montserrat, sans-serif;
  font-weight: 300;
}
  .site__header,
  .site__main,
  .site__footer {
    margin: auto;
    max-width: 80ch;
    width: 90%;
  }
    .site__page-number {
      display: none;
    }
  .site__footer {
    font-size: 80%;
    padding: 2ch 0;
    text-align: center;
  }
    .site__footer a {
      color: inherit;
    }
  .site__side {
    padding-top: 4ch;
    text-align: center;
  }
  .site__share {
    align-items: inherit;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4ch;
  }

.side__title {
  font: 140% Roboto Slab, serif;
  font-weight: 100;
  margin: 0;
}
.side__comment {
  font: italic 110% Libre Baskerville, serif;
  text-align: center;
  padding: 3ch 0 0;
}

.card__link {
  color: inherit;
  display: block;
  text-decoration: none;
}
  .card__link:hover,
  .card__link:focus {
    outline: none;
    text-decoration: underline;
  }
  .card {
    display: flex;
    justify-content: center;
    padding: 4ch 0 1ch;
  }
    .card__badge {
      background: #dde;
      border: 1px solid #99a;
      border-bottom-width: 2px;
      border-radius: 50%;
      display: block;
      height: 80px;
      margin: 1ch 1ch 0;
      padding: 4px;
    }
      .card__name {
        font: 220% Roboto Slab, serif;
        font-weight: 100;
        margin: 1ch 0 0;
      }
      .card__desc {
        font: italic 110% Libre Baskerville, serif;
        margin-top: 0;
        padding-left: 1ch;
      }

.follow__menu {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
  .follow__item {
    color: inherit;
    font: 120% Montserrat, sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
  }
    .follow__item:hover,
    .follow__item:focus {
      outline: none;
      text-decoration: underline;
    }

.tabs {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
}
  .tabs__item {
    border: 1px solid #99a;
    border-width: 0 0 1px;
    color: #445;
    font: 115% Montserrat, serif;
    font-weight: 300;
    margin: 0;
    padding: 1.5ch 2ch 1ch;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
    .tabs__item:hover,
    .tabs__item:focus {
      background: #ccd;
      outline: none;
    }
    .tabs__item--active,
    .tabs__item--active:hover,
    .tabs__item--active:focus {
      background: #dde;
      border-bottom-color: #dde;
      z-index: 1;
    }

.post__list {
}
  .post__item {
    background: #dde;
    border: 1px solid #99a;
    margin-bottom: -1px;
    padding: 2ch;
  }
    .post__item.post__item--news {
      background: #eef;
      border-left-width: 1ch;
    }
  .post__title {
    font: 130% Roboto Slab, serif;
    margin: 0;
    text-align: center;
  }
  .post__cover {
    border: 1px solid #223;
    border-width: 1px 1px 5px;
    display: block;
    height: 100px;
    margin: 1.5ch auto;
  }
  .post__label,
  .post__btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0 1ch 1ch 0;
  }
  .post__label {
    background: #bbc;
    padding: .5ch;
    padding-right: 1.5ch;
    text-transform: capitalize;
  }
    .post__label--completed {
      background: #5a8;
    }
    .post__label--new {
      background: #eef;
    }
    .post__label--news {
      background: #ccd;
    }
    .post__label--ongoing {
      background: #59b;
    }
    .post__label--published {
      background: #b84;
      border-bottom: 2px solid #851;
    }
    .post__label--revision {
      background: #d66;
    }
    .post__label--schedule {
      background: #c9c;
    }
  .post__btn {
    border: 1px solid #99a;
    color: inherit;
    display: block;
    flex: 0;
    padding: 1ch 2ch;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
    .post__btn:hover,
    .post__btn:focus {
      background: #eef;
      outline: none;
    }
    .post__btn--buy {
      background: #b84;
      border-color: #851;
    }
      .post__btn--buy:hover,
      .post__btn--buy:focus {
        background: #c94;
      }
    .post__btn--nav {
      margin: 1ch;
    }
      .post__btn--nav:hover,
      .post__btn--nav:focus {
        background: #ccd;
      }
    .post__btn--no-link {
      color: #99a;
    }
      .post__btn--no-link:hover,
      .post__btn--no-link:focus {
        background: none;
        border-color:#99a;
      }
  .post__summary,
  .post__afterword {
    background: #dde;
    border: 1px solid #99a;
    padding: 1ch 3ch;
  }
  .post__afterword {
    border-top: none;
  }
  .post__content {
    color: #445;
    font: 80% Libre Baskerville, serif;
    line-height: 3ch;
    padding: 2ch 0;
  }
    .post__content--novel,
    .post__content--news {
      background: #eef;
      border: 1px solid #99a;
      padding: 4ch 4ch;
    }
    .post__content hr {
      border: none;
      padding: 4ch 0;
    }
      .post__content hr:after {
        content: "* * *";
        display: block;
        position: relative;
        text-align: center;
        top: -1ch;
      }

.toc__list.toc__list--standalone {
  padding: 0;
}
  .toc__list--standalone .post__summary + .post__summary,
  .toc__list--standalone .toc__item {
    border-top: none;
  }
    .toc__list--standalone :target {
      background: #eef;
    }
    .toc__list--standalone :target ~ li .toc__summary {
      display: none;
    }
    .toc__list--standalone :target ~ li .toc__item:hover + .toc__summary,
    .toc__list--standalone :target ~ li .toc__item:focus + .toc__summary {
      display: block;
    }

/* style for third-party apps */

#disqus_thread p,
#disqus_thread a {
  color: inherit;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .site__pagination {
      align-items: baseline;
      display: flex;
      justify-content: space-around;
    }
    .site__side {
      text-align: inherit;
    }
    .site__page-number {
      display: inline;
    }

  .follow__label {
    display: inline;
  }

  .tabs {
    align-items: baseline;
    flex-direction: row;
  }
    .tabs__item {
      border-width: 1px 1px 1px 0;
    }
      .tabs__item:first-child {
        border-left-width: 1px;
        border-top-left-radius: 5px;
      }
      .tabs__item:last-child {
        border-top-right-radius: 5px;
      }
      .tabs__item--active,
      .tabs__item--active:hover,
      .tabs__item--active:focus {
        background: #dde;
        border-bottom-color: #dde;
        z-index: 1;
      }

  .post__item {
    display: flex;
  }
  .post__title {
    font-size: 180%;
    font-weight: 100;
    text-align: left;
  }
  .post__cover {
    height: 160px;
    margin: 1.5ch 2ch 0 0;
  }
  .post__btn {
    display: inline-block;
    text-align: left;
  }
  .post__content {
    font-size: 100%;
    padding: 2ch 1ch;
  }
  .post__content--novel,
  .post__content--news {
    padding: 4ch 6ch;
  }
}

.toc {
  background: #dde;
  border: 1px solid #99a;
  padding: 2ch 2ch 0;
}
  .toc__header {
    font: 90% Montserrat, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }
  .toc__list {
    list-style: none;
    margin: 0;
    padding: 2ch 0 0;
  }
    .toc__item {
      border: 1px solid #99a;
      border-width: 1px 0 0;
      color: inherit;
      display: block;
      padding: 2ch 0;
      text-decoration: none;
    }
      .toc__item:hover,
      .toc__item:focus {
        text-decoration: underline;
      }
    .toc__item--active {
      font-weight: 500;
    }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .site__main {
    position: relative;
  }
    .site__side {
      padding-top: 0;
      position: absolute;
      top: 0;
      width: 150px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .site__header,
  .site__main,
  .site__footer {
    width: 800px;
  }
}
