---
layout: default
---
{% assign story = site.data.stories | where: "url", page.story | first %}
<div id="header" class="post__details">
  <div class="post__item">
    <img src="/assets/covers/{{ story.cover }}" alt="{{ story.title }} cover" class="post__cover">
    <div class="post__text">
      <h2 class="post__title">
        {{ story.title }} #{{ page.number }}: {{ page.title }}
      </h2>
      <p>Around {{ content | number_of_words }} words on {{ page.date | date_to_string }}.</p>
      <p>
        <span class="post__label post__label--{{ story.status }}"><i class="icon-{{ story.status }}"></i> {{ story.status }} {{ story.medium }}</span>{% if story.status != "published" %}{% if page.version > 0 %}<span class="post__label post__label--revision"><i class="icon-revision"></i> revision #{{ page.version }}</span>{% else %}<span class="post__label post__label--new"><i class="icon-new"></i> new chapter</span>{% endif %}{% endif %}
      </p>
    </div>
  </div>
  <div class="post__content post__content--full">
    {{ content }}
  </div>
</div>
<div class="follow site__side follow--side">
  <div class="toc">
    <h3 class="toc__header">Table of contents</h3>
    <ul class="toc__list">{% assign chaps = site.posts | where: "story", page.story | sort: 'date', 'first' %}{% for chap in chaps %}
      <li><a href="{{ chap.url }}#header" class="toc__item{% if chap.url == page.url %} toc__item--active{% endif %}">#{{ chap.number }}: {{ chap.title }}</a></li>{% endfor %}
    </ul>
  </div>
  {% include follow-menu.html %}
</div>
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = '{{ site.url }}{{ page.url }}';
this.page.identifier = '{{ page.id }}';
this.page.title = '{{ site.data.stories[page.story].title }} #{{ page.number }}: {{ page.title }}';
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//atomikaya-test.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
