---
layout: default
---
<div class="post__details">
  <div class="post__item">
    <img src="/assets/covers/cadd.png" alt="" class="post__cover">
    <div class="post__text">
      <h2 class="post__title">
        Cock-a-Doodle-Doom #8: Cackling
      </h2>
      <p>The 17th February, 9:30 p.m.</p>
      <p><span class="post__label post__label--ongoing"><i class="icon-ongoing"></i> Ongoing novel</span><span class="post__label post__label--new"><i class="icon-new"></i> New chapter</span></p>
    </div>
  </div>
  <div class="post__content post__content--full">
    {{ content }}
  </div>
</div>
      <div class="follow site__side follow--side">
        <div class="toc">
          <h3 class="toc__header">Table of contents</h3>
          <ul class="toc__list">
            <li><a href="#" class="toc__item">#1: Chicken and Egg Situation</a></li>
            <li><a href="#" class="toc__item">#2: Empty Nest Syndrome</a></li>
            <li><a href="#" class="toc__item">#3: Over Easy</a></li>
            <li><a href="#" class="toc__item toc__item--active">#4: Like a Banty on a June Bug</a></li>
          </ul>
        </div>
        <menu class="follow__menu">
          <a href="#" class="follow__item">
            <i class="icon-cc-by"></i>
            <span class="follow__label">Patreon</span>
          </a>
          <a href="#" class="follow__item">
            <i class="icon-cc-by"></i>
            <span class="follow__label">Wattpad</span>
          </a>
          <a href="#" class="follow__item">
            <i class="icon-cc-by"></i>
            <span class="follow__label">Webtoon</span>
          </a>
          <a href="#" class="follow__item">
            <i class="icon-cc-by"></i>
            <span class="follow__label">Atom feed</span>
          </a>
        </menu>
      </div>
      <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = 'http://example.com/cadd#8';
this.page.identifier = 'cadd#8';
this.page.title = 'Cock-a-Doodle-Doom #8: Cackling';
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//atomikaya-test.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </main>
    <div class="site__footer">
      <p>All of this website's content is released under the <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative commons license<i class="icon-cc"></i><i class="icon-cc-by"></i><i class="icon-cc-nc"></i><i class="icon-sa"></i></a>.</p>
    </div>
  </body>
</html>
