<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>
      {% if page.story %}
        {% assign story = site.data.stories | where: "url", page.story | first %}
        {{ story.title }}
        {% if page.number %}#{{ page.number }}: {% endif %}
      {% endif %}
      {% if page.title %}{{ page.title }}{% endif %}
      {% if page.path != "index.html" %} — {% endif %}
      {{ site.title }}
    </title>
    <meta name="description" content="{{ site.description }}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300|Libre+Baskerville|Montserrat:300,500" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fontello/css/fontello-embedded.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/theme.css"/>
  </head>
  <body class="site">
    <div class="site__header">
      <a href="/" class="card__link">
        <header class="card">
          <img src="{{ site.baseurl }}/assets/logo.png" alt=":)" class="card__badge"/>
          <div class="card__text">
            <h3 class="card__name">atomikaya</h1>
            <p class="card__desc">creates fiction.</p>
          </div>
        </header>
      </a>
      <nav class="tabs">{% if page.path == "index.html" %}
        <h1 class="tabs__item tabs__item--active">Latest activity</h1>{% else %}
        <a href="{{ site.baseurl }}/" class="tabs__item">Latest activity</a>{% endif %}{% if page.path == "stories/index.md" %}
        <h1 class="tabs__item tabs__item--active">Stories</h1>{% else %}
        <a href="{{ site.baseurl }}/stories/" class="tabs__item">Stories</a>{% endif %}{% if page.path == "about.md" %}
        <h1 class="tabs__item tabs__item--active">About me</h1>{% else %}
        <a href="{{ site.baseurl }}/about/" class="tabs__item">About me</a>{% endif %}
      </nav>
    </div>
    <main class="site__main">
      {{ content }}
    </main>
    <div class="site__footer">
      <p>All of this website's content is released under the <a href="{{ site.license.url }}" title="{{ site.license.title }}">Creative Commons license<i class="icon-cc"></i><i class="icon-cc-by"></i><i class="icon-cc-nc"></i><i class="icon-sa"></i></a>.</p>
    </div>
  </body>
</html>
