---
layout: default
---
<div class="post__list">{% for post in paginator.posts %}
  {% assign story = site.data.stories | where: "url", post.story | first %}
  <div class="post__item">
    <img src="/assets/covers/{{ story.cover }}" alt="{{ story.title }} cover" class="post__cover">
    <div class="post__text">
      <h2 class="post__title">
        {{ story.title }} #{{ post.number }}: {{ post.title }}
      </h2>
      <p>{% include word-count.html words = post.content %} words on {{ post.date | date: "%b %d, %Y" }}.</p>
      <p>
        <span class="post__label post__label--{{ story.status }}"><i class="icon-{{ story.status }}"></i> {{ story.status }} {{ story.medium }}</span>{% if story.status != "published" %}{% if post.version > 0 %}<span class="post__label post__label--revision"><i class="icon-revision"></i> revision #{{ post.version }}</span>{% else %}<span class="post__label post__label--new"><i class="icon-new"></i> new chapter</span>{% endif %}{% endif %}
      </p>
      <a href="{{ post.url }}#header" class="post__btn">Read now <i class="icon-go"></i></a>
    </div>
  </div>{% endfor %}
</div>
<div class="site__pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="post__btn post__btn--nav previous">newer</a>
  {% else %}
  <span class="post__btn post__btn--nav post__btn--no-link previous">newer</span>
  {% endif %}
  <span class="site__page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="post__btn post__btn--nav next">older</a>
  {% else %}
  <span class="post__btn post__btn--nav post__btn--no-link next">older</span>
  {% endif %}
</div>
<div class="follow site__side follow--side">
  {% include follow-menu.html %}
</div>
