---
layout: default
---
<div class="post__list">{% for post in paginator.posts %}
  {% if post.layout == 'news' %}
  <div class="post__item post__item--news">
    <div class="post__text">
      <h2 class="post__title">{{ post.date | date: "%b %d, %Y" }} : {{ post.title }}</h2>
      <p>
        {{ post.content | truncatewords: 25 }}
      </p>
      <a href="{{ post.url }}" class="post__btn">Read now <i class="icon-go"></i></a>
    </div>
  </div>
  {% else %}
  {% assign story = site.data.stories | where: "url", post.story | first %}
  {% assign newest = site.posts | where: "story", post.story | sort: 'number', 'first' | last %}
  <div class="post__item">
    <div style="background-image: url(/assets/covers/{{ story.cover }})"
      class="post__cover"></div>
    <div class="post__text">
      <h2 class="post__title">
        {{ story.title }} #{{ post.number }}: {{ post.title }}
      </h2>
      <p>
        {% if story.medium == 'comic' %}{{ post.pages }} pages
        {% else %}{% include word-count.html words = post.content %} words
        {% endif %}
        on {{ post.date | date: "%b %d, %Y" }}.
      </p>
      <p>
        <span class="post__label post__label--{{ story.status }}"><i class="icon-{{ story.status }}"></i> {{ story.status }} {{ story.medium }}</span>
        {% if story.status != "published" %}
        {% if post.version > 0 %}
        <span class="post__label post__label--revision"><i class="icon-revision"></i> revision #{{ post.version }}</span>
        {% endif %}
        {% if post.number == newest.number %}
        <span class="post__label post__label--new"><i class="icon-new"></i> latest chapter</span>
        {% endif %}
        {% endif %}
      </p>
      <a href="{{ post.url }}#header" class="post__btn">Read now <i class="icon-go"></i></a>
      <a href="/stories/{{ story.url }}/#ch{{ post.number }}" class="post__btn">Chapter list</a>
    </div>
  </div>{% endif %}{% endfor %}
</div>
<div class="site__pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="post__btn post__btn--nav previous">newer</a>
  {% else %}
  <span class="post__btn post__btn--nav post__btn--no-link previous">newer</span>
  {% endif %}
  <span class="site__page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="post__btn post__btn--nav next">older</a>
  {% else %}
  <span class="post__btn post__btn--nav post__btn--no-link next">older</span>
  {% endif %}
</div>
{% include follow-menu.html %}
