---
layout: default
---
<div class="post__list">{% for story in site.data.stories %}
  {% assign chaps = site.posts | where: "story", story.url %}
  {% assign firstChap = chaps | last %}
  {% assign lastChap = chaps | first %}
  <div class="post__item">
    <div style="background-image: url(/assets/covers/{{ story.cover }})"
      class="post__cover"></div>
    <div class="post__text">
      <h2 class="post__title">
        {{ story.title }}
      </h2>
      <p>
        <span class="post__label post__label--{{ story.status }}"><i class="icon-{{ story.status }}"></i> {{ story.status }} {{ story.medium }}</span>

        {% if story.status == 'ongoing' %}
        <span class="post__label post__label--schedule">
          <i class="icon-schedule"></i> Updated {{ story.schedule }}
        </span>
        {% endif %}
      </p>
      <div>
        {{ story.summary | markdownify }}
      </div>
      <p>
        {% if story.medium == 'comic' %}
        {% assign allPages = 0 %}
        {% for chap in chaps %}
          {% assign allPages = allPages | plus: chap.pages %}
        {% endfor %}
        {{ allPages }} pages
        {% else %}
        {% assign words = chaps | map: "content" | join: " " %}
        {% include word-count.html words = words %} words
        {% endif %}
        {% assign chapCount = chaps | size %}
        in {{ chapCount }} chapter{% if chapCount > 1 %}s{% endif %},
        updated on {{ lastChap.date | date: "%b %d, %Y" }}.
      </p>
      <a href="{{ firstChap.url }}/#header" class="post__btn">Start reading <i class="icon-go"></i></a>
      <a href="/stories/{{ story.url }}/#header" class="post__btn">Chapter list</a>
    </div>
  </div>{% endfor %}
</div>
{% include follow-menu.html %}
